wandb/*
learned_faithfulness_frontier.json
config.json
**/__pycache__/
*.pyc
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS metadata
.DS_Store

# VS Code settings
.vscode/

**.pt
**.bak

**.out
**.err

masks/
old/
pics/
pt_file_explanations.txt
tmp.txt
.env
~/content/hf_cache/
